<!doctype html>
<html lang="en">

<head>
    <title>NBA:FETCH&STAT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/styles/css.css">
    <link href="https://fonts.googleapis.com/css2?family=Graduate&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap" rel="stylesheet">

    <script defer src="/public/scripts/main.js"></script>
    <script defer src="/public/scripts/PlayersClass.js"></script>
    <script defer src="/public/scripts/PlayerSTATSmenager.js"></script>
    <script defer src="/public/scripts/ViewEvents.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


</head>

<body>
    <div class="contain">

        
        <header>
            <nav>
                    <ul>
                               <li><a href="/">Home</a></li>
                               <li><a href="/Stats">Stats</a></li>
                               <li><a href="/Odds">Odds</a></li>
                               <li><a href="/Chat">Live Bet Ring</a></li>
                               <li><a href="/MyOdds">My Account</a></li>
                               <li><a href="/login">Log In</a></li>
                               <li><a class="btn btn-lg btn-danger logout" href="/home/logout" title="">Logout</a></li>

                    </ul>
            </nav>
                         
            <h2>WE BET SMART.</h2>
            <!--             <img class="coin" src="/img/pngguru.com (22).png" alt="">
 -->


            <h2 class="odd-h2">Calculate the Odds!</h2>

        </header>


        <section class="section-odd">

            
            <div class="oddcontain">
                
                    <img class="left-logo" src="/public/images/b.png" alt="">

                    <select name="teamA" class="select-odd">
                        <option selected="">Please Select</option>
                    </select>
                    <output class="outputright"></output>

                    <output class="outputLeft"></output>

            </div>
            <div>
                <div class="vs">VS.</div>
                <input style="z-index: 1000;" class="submit-odd" type="submit" value="Get Odds">
            </div>
            <div class="oddcontain">
                <img class="logo-right" src="/public/images/s.png" alt="">
                <select name="teamB" class="select-oddB">
                    <option selected="">Please Select</option>
                </select>
            </div>


            
    </div>

    
    </section>

    <article>
    </article>

    <article style="margin-top: -42em;" class="kobe kobe-stat">
       <form action="/Bids" class="save-form" method="POST">
           <label for="">Save Your Calculation</label>
           <label for="">OverUnder</label>
           <input name="overUnder" type="text" class="total">
           <label for="">Win / Lose</label>
           <input role="textbox" name="WinLose" type="text" class="totalW">
           <label for="">TeamA</label>
           <input name="teamA" type="text" class="team1">
           <label for="">TeamB</label>
           <input name="teamB" type="text" class="team2">
           <br>
           <button class="SaveBids">SaveOdd</button>
       </form>
    </article>


    <Footer id="footer-odd">
        <h1 style="display: none;" id="power-odd" class="display-3">Powered by @FINK</h1>
        <p id="power1-odd" class="display-3">WE BET SMART.</p>

    </Footer>




    </div>
</body>

</html>