<!doctype html>
<html lang="en">

<head>
  <title>NBA:FETCH&STAT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/styles/css.css">
  <link href="https://fonts.googleapis.com/css2?family=Graduate&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <script defer src="/public/scripts/main.js"></script>
  <script defer src="/public/scripts/PlayersClass.js"></script>
  <script defer src="/public/scripts/PlayerSTATSmenager.js"></script>
  <script defer src="/public/scripts/ViewEvents.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


</head>

<body>
  <div class="contain">

    <header>
      <nav>
        <ul>
         <li><a href="/">Home</a></li>
         <li><a href="/Stats">Stats</a></li>
         <li><a href="/Odds">Odds</a></li>
         <li><a href="/Chat">Live Bet Ring</a></li>
         <li><a href="/MyOdds">My Account</a></li>
         <li><a href="/login">Log In</a></li>
         <li><a class="btn btn-lg btn-danger logout" href="/home/logout" title="">Logout</a></li>
            
        </ul>
      </nav>
      <h2>WE BET SMART.</h2>
      <!--             <img class="coin" src="/img/pngguru.com (22).png" alt="">
 -->

      <div class="wrapper">
        <h2 class="your-saved">Your Saved Game-Odds</h2>
      </div>

    </header>
    <section class="section about-section " id="about">
      <div class="row d-flex justify-content-center text-center mt-5">

        <div>
          <br>
          <% if (message) { %>
          <div class="profile-welcome"><span><%= message %></span></div>
          <% } %>
        </div>



      </div>
  </div>





  </section>
  <article class="kobe kobe-stat kobe-prof">
    <h2>In the Memory of the GREAT Kobe Bryant</h2>
    <img id="mamba" src="/public/images/kob.png" alt="" width='300' height="200">
  </article>


  <Footer id="footer-stats">
    <h1 id="power" class="display-3">Powered by @FINK</h1>
    <p id="power1" class="display-3">WE BET SMART.</p>

  </Footer>





  </div>
</body>

</html>