<!doctype html>
<html lang="en">

<head>
    <title>NBA:FETCH&STAT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/styles/css.css">
    <link href="https://fonts.googleapis.com/css2?family=Graduate&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script defer src="/public/scripts/main.js"></script>
    <script defer src="/public/scripts/PlayersClass.js"></script>
    <script defer src="/public/scripts/PlayerSTATSmenager.js"></script>
    <script defer src="/public/scripts/ViewEvents.js"></script>

</head>

<body>
    <div class="contain">

        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/Stats">Stats</a></li>
                    <li><a href="/Odds">Odds</a></li>
                    <li><a href="/Chat">Live Bet Ring</a></li>
                    <li><a href="/MyOdds">My Account</a></li>
                    <li><a href="/login">Log In</a></li>
                    <li><a class="btn btn-lg btn-danger logout" href="/home/logout" title="">Logout</a></li>

                </ul>
            </nav>
            <h2>WE BET SMART.</h2>
            <!--             <img class="coin" src="/img/pngguru.com (22).png" alt="">
 -->
<h2 class="h2-stat">Player & Team Statistics</h2>
        </header>


        <section id="section-stat">
            <div class="d-flex justify-content-center">
                <form class="sec-stat-h Player-formwrap">
                    <div class="center-input-player">
                        <input id="player-name" class="prevent" type="text" name="" placeholder="PLAYER NAME!">
                        <input id="year" class="prevent search-year" type=" text" name=""
                            placeholder="ENTER A YEAR!"><br>
                        <button id="btn-boot" type="button" class="btn btn-outline-warning">Search</button>
                    </div>
                    <div class="hint">
                        <div class="pyear-format">*Name ex.:Lebron james</div>
                        <div class="ppyear-format">*Year ex.:2018</div>
                    </div>
                </form>
            </div>

            <div id="ChartWrap">
                <div id="parent">
                </div>
                <canvas id="Stat-chart"></canvas>

            </div>



            <div class="showerr">THERE IS NO DATA IN THAT PLAYER NAME / YEAR</div>
            <div class="teamerr">THERE IS NO DATA IN THAT Team NAME / YEAR</div>




            <div class="d-flex justify-content-center">
                <div class="Team-formwrap">
                    <form id="fields" class="team-field">
                        <div class="center-input-player">
                            <input id="team-name" class="prevent" type="text" name=""
                                placeholder="Enter Team NAME!"><br>
                            <input id="year" class="prevent team-search-year" type=" text" name=""
                                placeholder="ENTER A YEAR!"><br>
                            <button id="yearbtn-boot" type="button" class="btn btn-outline-warning">Search</button>
                        </div>
                    </form>
                </div>
            </div>



            <div id="ChartWrap">
                <div id="parent">
                </div>
                <canvas id="Stat-chart"></canvas>
            </div>


            <div id="ChartWrap">
                <div id="parent">
                </div>
                <canvas id="teamStat-chart"></canvas>
            </div>

        </section>

        <article class="artic">
            <h2>Share Your thoughts and Bet together!</h2>

            <p>Another cool Feature We have in SmartBet is Our Live Chat.<br>
                the Live Chat offers you the option to share your thoughts and <br>opinions on specific games and stats
                you want to bet on with <br>other users.
                It allows you
                to speak your mind and<br> cooperate
                with others to bet together.</p>
            <img src="/public/images/money.png" alt="">
            <br>
            <h3 class="goto-odds">So Now after you got your STATS, Dont Forget to check our <a href="/Odds">ODDS</a>
                page to
                complete your SmartBet</h3>
        </article>


        <article class="kobe kobe-stat">
            <h2>In the Memory of the GREAT Kobe Bryant</h2>
            <img id="mamba" src="/public/images/kob.png" alt="" width='300' height="200">
        </article>


        <Footer id="footer-stats">
            <h1 id="power" class="display-3">Powered by @FINK</h1>
            <p id="power1" class="display-3">WE BET SMART.</p>

        </Footer>




    </div>
</body>







</body>

</html>