.contain {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 450px 200px 200px;
    overflow: hidden;


}

body,
html {
    width: 100%;
    box-sizing: border-box;
    margin: 0;

}

.parent {
    text-align: center;
    margin-top: 30%;
    width: 300px;
    margin-left: 17%;
    font-family: helvetica;

}



.Players-blob {

    width: 450px;
    height: 450px;
    grid-row: 1;



}

#jer {
    position: relative;


}


.sec-stat-h {
    width: 335px;
    margin-top: -8.5em;
    border-bottom: 1px dotted black;
    position: relative;
    left: 14.5em;

}

.Team-logo1 {
    position: relative;
    top: -24em;
    left: 5em;
    transform: scale(0.7)
}

.Team-logo2 {
    position: relative;
    top: -24em;
    left: -20em;
    transform: scale(0.7)
}

.Team-logo3 {
    position: relative;
    top: -24em;
    left: -45em;
    transform: scale(0.7)
}



#btn-boot {
    color: white;
    font-family: 'Sriracha',
        cursive;
    font-weight: bold;
    letter-spacing: 0.5px;
    background-color: black;
    position: relative;
    z-index: 1;

}


#yearbtn-boot {
    color: white;
    font-family: 'Sriracha',
        cursive;
    font-weight: bold;
    letter-spacing: 0.5px;
    background-color: black;
    position: relative;
    left: 47.7em;
    z-index: 1;

}


#btn-boot:hover {
    color: white;
    background-color: rgb(100, 98, 98);
    z-index: 2;

}


#team-name {
    color: #552583;
    font-family: 'Sriracha',
        cursive;
    text-align: center;
    font-size: 0.8em;
    width: 170px;
    margin-left: 150px;
    margin-top: -195px;
    z-index: 1;



}

.search-year {
    color: #552583;
    font-family: 'Sriracha',
        cursive;
    text-align: center;
    font-size: 0.8em;
    width: 170px;
    margin-left: 100px;
    margin-top: 10px;
    z-index: 1;


}

.team-search-year {
    color: #552583;
    font-family: 'Sriracha',
        cursive;
    text-align: center;
    font-size: 0.8em;
    width: 170px;
    margin-left: 150px;
    margin-top: 10px;
    z-index: 1;


}

.team-search-year1 {
    color: #552583;
    font-family: 'Sriracha',
        cursive;
    text-align: center;
    font-size: 0.8em;
    width: 170px;
    margin-left: 150px;
    margin-top: 10px;
    z-index: 1;


}

.search-year:focus {
    border: 2px solid #552583;
}

.h2 {
    font-family: 'Sriracha',
        cursive;

}


#ChartWrap {
    grid-column: 2;
    grid-row: 1;
    transform: scale(0.6);
    position: relative;
    top: -43em;
    left: 3em;
}

#Team-ChartWrap {
    grid-column: 2;
    grid-row: 2;
    margin-top: 0;
}

#Stat-chart {
    position: relative;
    left: 150PX;
    top: 50PX;
    opacity: 1;
    margin-bottom: -60em;
    width: 1000px;
    height: 450px;
}

#teamStat-chart {
    margin-top: 40em;
    position: relative;
    top: -55em;
    left: 150PX;
    transform: scale(0.6);
    opacity: 1;
}

.fixmarg {
    opacity: 1;
}

.year-format {
    z-index: 1000;
    color: black;
    position: relative;
    top: -39em;
    left: 7.5em;
    font-size: 0.75em;
    font-family: 'Graduate';
    font-weight: bold;

}

.pyear-format {
    z-index: 1000;
    color: black;
    position: relative;
    top: 1em;
    left: -5em;
    font-size: 0.75em;
    font-family: 'Graduate';
    font-weight: bold;

}

.ppyear-format {
    z-index: 1000;
    color: black;
    position: relative;
    top: 1em;
    left: -7.5em;
    font-size: 0.75em;
    font-family: 'Graduate';
    font-weight: bold;

}



.Player-formwrap {
    text-align: center;
    transition: 800ms ease-in-out;
    transition: scale(0.6)
}

#fields input {
    position: relative;
    left: 32em;
    font-size: 18PX;
    box-shadow: 0 0 10px 552583(0, 0, 0, .3);
    box-shadow: 5px 0 20px 0 BLACK;
    color: black;
    font-weight: bold;

}

.team-field {
    position: relative;
    top: -30em;
    left: -39em;
}

#player-name {
    color: #552583;
    font-family: 'Sriracha',
        cursive;
    text-align: center;
    font-size: 0.8em;
    width: 170px;
    margin-left: 100px;
    margin-top: -250px;
    z-index: 1;



}


#team-wrap {
    position: relative;
    left: 34em;
    top: 40em;
    transition: 800ms ease-in-out;

}

header {
    grid-row: 1;
    grid-column: 1/-1;
    height: 160px;
    background-color: rgba(192, 192, 192, 0.562);
    box-shadow: 0 0 10px #00000098
}

header h2 {
    text-align: center;
    margin-top: 30px;
    font-family: 'Graduate',
        cursive;

}

.coin {
    transform: scale(0.3);
    position: relative;
    top: -17em;
    left: 45em;
}

header nav ul {
    display: flex;
    list-style-type: none;
    position: relative;
    top: 130px;
    margin-left: -2em;



}

header nav ul li {
    padding-right: 30px;
    font-weight: bold;
    font-family: 'Graduate',
        cursive;
}

header nav ul li a {
    color: Black;
}

header nav ul li a:hover {
    opacity: 0.7;
    color: black;
    text-decoration: none;
}

section {
    grid-row: 2/6;
    grid-column: 1/-1;
    width: 100%;

}

.section-odd {
    grid-row: 2/6;
    grid-column: 1/-1;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


section h2 {
    margin-left: 4em;
    margin-top: -7em;
    font-family: 'Graduate',
        cursive;

}

.secondh {
    margin-left: 4em;
    margin-top: 2em;
    font-family: 'Graduate',
        cursive;

}

section p {
    margin-left: 6.3em;
    font-size: 1.3em;
    font-family: 'Graduate',
        cursive;

}

.section-pics {
    position: relative;
    left: 60em;
    top: -18em;
}

.section-pics .arr {
    width: 16%;
    transform: rotate(-30deg);
    position: relative;
    left: 18em;
    top: -5em;


}

.section-pics .dolla {
    width: 20%;
    position: relative;
    left: -15em;
    top: 4em;
    box-shadow: 0 0 10px 552583(0, 0, 0, .3);
    box-shadow: 5px 0 20px 0 black;
    filter: grayscale(50%);


}

.section-pics .fingers {
    width: 17%;
    position: relative;
    top: -14em;
    left: -34em;

}

section .score-area {
    position: relative;
    top: -23em;
}

.logo1 {
    height: 150px;
    margin-left: 15em;
    margin-top: 2em;
    transition: 200ms all ease-in;

}

.logo2 {
    height: 200px;
    margin-left: 7em;
    margin-top: 2em;
    transition: 200ms all ease-in;

}

.logo3 {
    height: 200px;
    margin-left: 7em;
    margin-top: 2em;
    transition: 200ms all ease-in;

}

#logomotion:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.table {
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-top: 5em;
    opacity: 0.9;
    box-shadow: 0 0 10px #00000098;
    background-color: black;
    color: white;
    font-family: 'Graduate',
        cursive;
}








.display-3 {
    text-align: center;
    position: relative;
    top: -5em;

}

.paragraph-home {
    text-align: center;
    font-family: 'Graduate',
        cursive;
    font-size: 1.3em;
    margin-left: 12em;
    margin-right: 12em;
    top: -17em;
    position: relative;
}

#live {
    width: 160px;
    height: 160px;
    margin-left: 15em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;

}

#charts {
    width: 200px;
    height: 200px;
    margin-left: 43em;
    margin-top: -21.9em;
}

#MEGA {
    width: 150px;
    height: 150px;
    margin-left: 70em;
    margin-top: -21em;
    margin-bottom: 1em;
}

.card {
    background-color: rgba(192, 192, 192, 0.562);
    box-shadow: 0 0 10px #00000098;
    position: relative;
    top: -20em;
    height: 29vw;
}


#livep {
    width: 200px;
    margin-left: 12em;
    font-family: 'Graduate',
        cursive;
}

#chartp {
    width: 200px;
    margin-left: 34em;
    margin-top: -1.5em;
    font-family: 'Graduate',
        cursive;
}

#Megap {
    width: 200px;
    margin-left: 53.5em;
    margin-top: -0.4em;
    font-family: 'Graduate',
        cursive;
}

#note {
    font-family: 'Graduate',
        cursive;
    font-weight: bold;
    margin-left: 2em;
    margin-top: 1em;
    font-size: 0.8em;

}

Footer {
    margin-top: 4em;
    grid-row: 5;
    background-color: black;
    grid-column: 1/-1;
    height: 10VW;


}

#footer-stats {
    margin-top: 4em;
    grid-row: 8;
    background-color: black;
    grid-column: 1/-1;
    height: 10VW;


}

#power {
    font-size: 1em;
    color: white;
    margin-top: 13em;
}

#power-odd {
    font-size: 1em;
    color: white;
    margin-top: 13em;



}

#power1 {
    font-size: 2em;
    color: white;
    display: flex;
    font-family: 'Graduate',
        cursive;



}

#power1-odd {
    font-size: 2em;
    color: white;
    display: flex;
    font-family: 'Graduate',
        cursive;
    margin-top: 220px;
    position: relative;
    top: 60px;

}

#livescore {
    position: relative;
    top: 3.2em;
    left: 3.3em;
    font-size: 3em;
    font-family: 'Graduate';
}

#get-score-btn {
    z-index: 99;
}

label {
    display: block;
    font-family: 'Graduate',
        cursive;
}

input,
label {
    margin-left: 20em;
    margin: .4rem 0;
}

#datep {
    font-family: 'Graduate',
        cursive;
    position: relative;
    left: 36em;
    top: 4.5em;
}

#datep label {
    position: relative;
    top: 1em;
}



#notes {
    position: relative;
    top: -15em;
    left: 16em;
    font-family: 'Bangers',
        cursive;
    font-size: 1.5em;
    display: none;
    transition: 300ms ease-in;
}

article {
    grid-row: 5;
    grid-column: 2/-1;
    margin-top: 5em;
}

article h2 {
    font-family: 'Graduate';
    font-size: 2.8em;
}

article p {
    font-family: 'Graduate';
    font-size: 1.5em;
}

article img {
    float: right;
    position: relative;
    top: -25em;
    left: 2em;
    transform: scale(0.7)
}

.goto-odds {
    font-family: 'Graduate';
    font-size: 3em;
    font-weight: bold;


}

.goto-odds a {
    font-family: 'Graduate';
    color: rgb(68, 97, 61);

}

.kobe {
    grid-row: 5;
    margin-top: -5em;
    color: black;
    text-align: center;
    font-family: 'Graduate';

}

.kobe-stat {
    grid-row: 8;
    color: black;
    text-align: center;
    font-family: 'Graduate';


}

.kobe h2 {
    margin-left: -6em;
    font-family: 'Pacifico',
        cursive;
    font-size: 3.5em;
    background-color: rgba(192, 192, 192, 0.562);
    box-shadow: 0 0 10px #00000098;
    background: rgb(85, 37, 131);
    background: linear-gradient(90deg, rgba(85, 37, 131, 1) 26%, rgba(253, 185, 39, 1) 66%);
}

.kobe-stat h2 {
    margin-left: -6em;
    font-family: 'Pacifico',
        cursive;
    font-size: 3.5em;
    background-color: rgba(192, 192, 192, 0.562);
    box-shadow: 0 0 10px #00000098;
    background: rgb(85, 37, 131);
    background: linear-gradient(90deg, rgba(85, 37, 131, 1) 26%, rgba(253, 185, 39, 1) 66%);
}

#mamba {
    position: relative;
    top: -8em;
}


.showerr {
    color: red;
    font-size: 1.5em;
    font-family: 'Graduate';
    position: relative;
    left: 22em;
    top: -6em;
    opacity: 0;
    z-index: -1;

}

.teamerr {
    color: red;
    font-size: 1.5em;
    font-family: 'Graduate';
    position: relative;
    left: 22em;
    top: 16em;
    opacity: 0;
    z-index: -10;
}




.container {
    position: absolute;
    width: auto;
    height: auto;
    top: calc(50% - 150px);
    left: calc(40% - 160px);
    border-radius: 15px 15px 15px 15px;
    font-family: 'Graduate';
}

.c1 {
    box-shadow: 0 0 10px grey;
    background-color: white;
    width: 300px;
    height: 500px;
    display: inline-block;
    border-radius: 15px 15px 15px 15px;
}

.c11 {
    background-image: url('/public/images/bball.jpg');
    background-position-x: -18em;
    background-position-y: -5em;
    background-color: white;
    width: 300px;
    height: 400px;
    display: inline-block;
    position: absolute;
    z-index: 4;
    border-radius: 15px 15px 200px 200px;
}

#left,
#right {
    color: white;
    display: inline-block;
    width: 146px;
    height: 500px;
    background-color: white;
    cursor: pointer;
    text-align: center;
}

#left {
    border-radius: 15px 0px 0px 15px;
}

#right {
    border-radius: 15px 15px 15px 0px;
}

.left_hover {
    color: black;
    box-shadow: 5px 0 18px -10px #333;
    z-index: 1;
    position: absolute;
    text-align: center;
}

.right_hover {
    box-shadow: -5px 0 15px -10px #333;
    z-index: 1;
    position: absolute;
    text-align: center;
}

.s1class {
    color: #748194;
    position: absolute;
    bottom: 0;
    left: 63%;
    margin-left: -50%;
}

.s1class span,
.s2class span {
    display: block;
    color: black;
    text-align: center;
    font-family: 'Graduate';
}

.su {
    font-size: 20px;
}

.s2class {
    color: #748194;
    position: absolute;
    bottom: 0;
    right: 63%;
    margin-right: -100%;
}

.mainhead {
    color: white;
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
}

.mainp {
    color: white;
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
}

.c2 {
    background-color: white;
    width: 300px;
    height: 500px;
    border-radius: 15px;
    position: absolute;
    left: 370px;
    display: inline-block;
}

.username {
    font-weight: bold;
    width: 200px;
    margin: 0 35px 20px;
    height: 35px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #F6F7F9;
    color: #748194;
    font-size: 14px;
}



.signup1 {
    color: black;
    font-size: 30px;
    text-align: center;
}

a {
    text-decoration: none;
}

.signup2 {
    color: #748194;
    font-size: 20px;
    text-align: center;
}

.signup {
    display: initial;
}

.signin {
    display: initial;
}

.btn-log {
    font-weight: bold;
    width: 230px;
    margin: 0 35px 20px;
    height: 45px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: black;
    color: white;
    font-size: 14px;
}

.error {
    background-color: rgba(255, 0, 0, 0.637);
    margin-top: 5px;
    border-radius: 3px;
    text-align: center;
    opacity: 0;
}

.section {
    grid-row: 2/4;
    margin-bottom: 5em;
    grid-column: 1/-1;
    width: 100%;
    justify-content: center;

}

.section>.container {
    margin-top: -1em;
    margin-left: -35em;
    transform: scale(0.8);


}

.gray-bg {
    background-color: #f5f5f5;
}

img {
    max-width: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
}

/* About Me 
---------------------*/
.about-text h3 {
    font-size: 45px;
    font-weight: 700;
    margin: 0 0 6px;
}

@media (max-width: 767px) {
    .about-text h3 {
        font-size: 35px;
    }
}

.about-text h6 {
    font-weight: 600;
    margin-bottom: 15px;
}

@media (max-width: 767px) {
    .about-text h6 {
        font-size: 18px;
    }
}

.about-text p {
    font-size: 18px;
    max-width: 450px;
}

.about-text p mark {
    font-weight: 600;
    color: #20247b;
}

.about-list {
    padding-top: 10px;
}

.about-list .media {
    padding: 5px 0;
}

.about-list label {
    color: #20247b;
    font-weight: 600;
    width: 88px;
    margin: 0;
    position: relative;
}

.about-list label:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 11px;
    width: 1px;
    height: 12px;
    background: #20247b;
    -moz-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    margin: auto;
    opacity: 0.5;
}

.about-list p {
    margin: 0;
    font-size: 15px;
}

@media (max-width: 991px) {
    .about-avatar {
        margin-top: 30px;
    }
}

.about-section .counter {
    padding: 22px 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}

.about-section .counter .count-data {
    margin-top: 10px;
    margin-bottom: 10px;
}

.about-section .counter .count {
    font-weight: 700;
    color: #20247b;
    margin: 0 0 5px;
}

.about-section .counter p {
    font-weight: 600;
    margin: 0;
}

mark {
    background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: 0 bottom;
    background-color: transparent;
    padding: 0;
    color: currentColor;
}

.theme-color {
    color: #fc5356;
}

.dark-color {
    color: #20247b;
}


.oddcontain {
    height: 100px;
    width: 300px;
    margin-top: -15em;
    text-align: center;
}

.logo-right {
    margin-top: 2em;
}

.vs {
    font-family: 'Graduate';
    font-size: 3em;
    width: 100px;
    color: white;

}

.select-odd {
    font-family: 'Graduate';
    border: 2px solid black;
    border-radius: 5px;
}

.select-oddB {
    font-family: 'Graduate';
    border: 2px solid black;
    border-radius: 5px;
}

.submit-odd {
    width: 75px;
    background-color: rgba(224, 19, 19, 0.568);
    border: 2px solid black;
    border-radius: 5px;
    font-family: 'Graduate';
    padding: 2px;
    margin-top: 5.4em;
    margin-left: -2.5em;
    z-index: 1000;
    margin-bottom: 5em;
}

.submit-odd:hover {
    background-color: black;
    color: white;
    font-weight: bold;
}


.table-odd {
    margin-bottom: 10em;
    margin-top: -10em;
}

#footer-odd {
    margin-top: -7em;
}

.plus-minus {
    font-family: 'Graduate';
    font-size: 10em;
    margin-bottom: 200px;
    margin-top: -3em;
    position: relative;
    top: 180px;
    margin-left: 1em;
}

.W-L {
    position: relative;
    top: 180px;
    font-family: 'Graduate';
    font-size: 9.3em;
    margin-bottom: 200px;
    margin-top: -2.9em;
    margin-left: 6.5em;
}

.get-info {
    width: 150px;
    height: 30px;
    margin-left: 15em;
    position: relative;
    top: -12em;
}

.get-info-right {
    width: 150px;
    height: 30px;
    margin-left: 45em;
    position: relative;
    top: -12em;
    margin-bottom: 5em;
}

.sum {
    width: 400px;
    height: 200px;
    color: red;
    font-size: 4em;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    font-family: 'graduate';
    margin-left: 150px;
    top: -200px;
}

.WL {
    width: 400px;
    height: 200px;
    color: black;
    font-size: 2em;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    font-family: 'graduate';
    margin-left: auto;
    margin-right: 150px;
    position: relative;
    top: -200px;
    font-size: 1.5em;
}

.SaveBids {
    width: 80px;
    background-color: rgba(0, 153, 13, 0.596);
    border: 2px solid black;
    border-radius: 5px;
    font-family: 'Graduate';
    text-align: center;
    z-index: 1000;
    position: absolute;
    padding: 2px;
}

.SaveBids:hover {
    background-color: black;
    color: white;
    font-weight: bold;
}



.odd-h2 {
    border-bottom: 1px dotted black;
    width: 400px;
    margin: auto;
    position: relative;
    top: 2.5em;
}

.outputLeft{
    margin-top: -3em;
    font-family: 'Graduate';
    font-weight: bold;

}
.outputright {
    margin-top: 4em;
    margin-left: 59em;
    font-family: 'Graduate';
    font-weight: bold;

}

.save-form{
    border: 1px solid black;
    width: 300px;
    height: 390px;
    margin: auto;
}

.get-bets{
       width: 700px;
       height: 450px;
       background-color: #F58426;
       margin-top: 100px;
       box-shadow: 0 0 10px 552583(0, 0, 0, .3);
       padding: 15px;
       box-shadow: 5px 0 20px 0 black;
    margin-top: -15em;
    margin-left: 40em;

    background-color: rgba(0, 0, 0, 0.198);
    color:black;
    font-weight: bold;
    font-family: 'graduate';
    overflow-x: hidden;
    overflow-y: scroll;
    line-height: 2;
    
}

::-webkit-scrollbar {
    display: none;
}



.profile-welcome {
  margin-top: -14em;
  font-size: 1.2em;
  font-family: 'graduate';
  font-weight: bold;
  width: 1200px;
  line-height: 3;
white-space: pre-line;
padding-bottom: 2em;
height: 500px;
overflow-x: scroll;
overflow-y: scroll;
}



.wrapper{
    width: 100%;
    text-align: center;
}

.your-saved{
    font-weight: bold;
    border-bottom: 1px dotted black;
    width: 500px;
    margin: auto;
    margin-top: 1em;

}

#msg{
    width: 100%;
}

.message-signup{
    font-size: 2.5em;
    width: 800px;
    margin: auto;
}

.why-we-created {
    margin-left: auto;
    width: 800px;
    font-size: 1.6em;
}

.save{
    margin-top: 4em;
}

.section-chat{
    width: 100%;
    text-align: center;
}

.form-chat{
    margin-top: 20em;
    width: 600px;
    background-color: lightgrey;
    margin: auto;

}

 

#message-container{
    width: 600px;
    margin: auto;
    height: 300px;
    text-align: justify;
    overflow: scroll;
    overflow-x: visible;
    


  
}

.h2-chat{
  
     margin:auto;
     margin-top: -100px;
}

#massage-input{
    width: 600px;
}

.message-div{
    padding:5px;
    font-family: 'graduate';
    font-weight: bold;
    border-bottom: 1px dotted lightgrey;
    border-spacing: 10px;
}

